body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.timer {
    background-color: rgba(149, 149, 149, 0.65);
    font-size: 24px;
    vertical-align: middle;
    line-height: 1.5;
    border-radius: 0.25rem;
    padding: 0.275rem 0.75rem;
}

.timer-count {
    margin-left: 10px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

img{
    position: absolute;
    left: 119px;
    top: 420px;
    /*align: middle;*/
    width: 20%;
}

.hide {
    display: none;
}

#menu {
    font:12px verdana, arial, sans-serif; /* 设置文字大小和字体样式 */
}

#menu, #menu li {
    list-style:none; /* 将默认的列表符号去掉 */
    padding:0; /* 将默认的内边距去掉 */
    margin:0px; /* 将默认的外边距去掉 */
    float:left; /* 往左浮动 */
}

#menu li a {
    display:block; /* 将链接设为块级元素 */
    padding:8px 50px; /* 设置内边距 */
    background:#146C9C; /* 设置背景色 */
    color:#fff; /* 设置文字颜色 */
    text-decoration:none; /* 去掉下划线 */
    border-right:1px solid #000; /* 在左侧加上分隔线 */
}

#menu li a:hover {
    background:#3A4953; /* 变换背景色 */
    color:#fff; /* 变换文字颜色 */
}

.clear {
    clear: both;/* 清除水平布局，恢复默认 */
}